@tailwind base;
@tailwind components;
@tailwind utilities;

article a {
  color: white !important;
  font-weight: bold;
}

nav, .nextra-nav-container + div {
  max-width: 2000px !important;
}

main {
  max-width: 100% !important;
  padding: 0 20px !important;
}